# Dependencies
/node_modules
/.pnp
.pnp.js

# Build files
/dist
/lib
/build
/cjs
/esm

# Testing
/coverage

# Development
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temporary files
*.swp
*.swo
.cache/
.temp/

# Storybook
/storybook-static

# TypeScript
*.tsbuildinfo